@import url(c:\Users\hp\bluetooth_content_share.html);
body{ 
    background-color: #141414;
    padding: 0px; margin: 0px;
    color: #ffff;
}
body.page{
    margin: 20px 80px;

}
nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    background-color: #141414;
    padding: 10px 0px;
}
nav .logo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;

}

.barre{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d8d7d5;
    font-size: medium;
    height: 30px;
    float: left;
    margin-top: 5px;
    text-align: center;
    
    

}
 li {
float: left;
padding-left: 200px;
}
.CONNECT{
    float: right;
}